@font-face {
  font-family: helvetica77BoldCondensed;
  src: url("../fonts/helvetica-neue-45light-75bold-77bdcd/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
  src: url("../fonts/helvetica-neue-45light-75bold-77bdcd/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

@font-face {
  font-family: helvetica75Bold;
  src: url("../fonts/helvetica-neue-45light-75bold-77bdcd/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src: url("../fonts/helvetica-neue-45light-75bold-77bdcd/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

@font-face {
  font-family: helvetica45Light;
  src: url("../fonts/helvetica-neue-45light-75bold-77bdcd/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src: url("../fonts/helvetica-neue-45light-75bold-77bdcd/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("../fonts/helvetica-neue-45light-75bold-77bdcd/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

html {
	font-size: 0.875em;
	line-height: 1.5em;
}
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
}
.eft-overflow-hidden {
	overflow: hidden;
}

a:hover {
	text-decoration: none;
}
/* NOT SPECIFIC FOR HOME PAGE*/
.underline-text-white {
  border-bottom: solid 1px #ffffff;
  display: inline;
  padding-bottom: 5px;
}
.underline-text-gold {
  border-bottom: solid 1px #a19789;
  display: inline;
  padding-bottom: 5px;
}
.eft-light-brown-bg {
	background-color: #fbf4eb;
}
.eft-text-white {
	color: white;
}

.eft-text-black {
	color: black;
}
.eft-text-arial {
	font-size: 1em;
	font-family: Arial, sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

.eft-minutes {
	display: inline-block;
	width: 100px;
}
.eft-subtitle {
	font-size: 1.286em;
}
.eft-text-gold {
	color: #a19789;
}
h1.eft-main-header {
	font-size: 3.357em;
	font-family: helvetica77BoldCondensed, Arial, sans-serif;
}

h2.eft-secondary-header {
	font-size: 30px;
	font-family: helvetica77BoldCondensed, Arial, sans-serif;
}
h3.eft-sec-header {
	font-size: 1.714em;
}
.eft-main-text {
	font-size: 1.429em;
	margin-top: 20px;
}
.logo-white {
	position: absolute;
	width: 230px;
	height: 77px;
	top: 47px;
	left: 56px;
}
.eft-main-hero-img, .eft-second-hero-img {
	width: 100%;
}
.eft-learnmore-placeholder {
	margin-top: 24px;
}

.button-placeholder {
	margin-top: 45px;
}
.eft-gui-button-white {
	border: 1px solid #fefefe;
	padding: 20px 70px 20px 70px;
	color: #fefefe;
	font-size: 0.857em;
	margin-top: 20px;
	font-family: helvetica75Bold, Arial, sans-serif;
}

.eft-gui-button-black-thin {
	border: 1px solid black;
	padding: 13px 85px 13px 85px;
	color: black;
	font-size: 0.857em;
	margin-top: 20px;
	font-family: helvetica75Bold, Arial, sans-serif;
}

.eft-gui-button-bgblack-thin {
	border: 1px solid black;
	padding: 13px 35px 13px 35px;
	color: white;
	font-size: 0.857em;
	margin-top: 20px;
	font-family: helvetica75Bold, Arial, sans-serif;
	background-color: black;
}

/*technique to center*/
.center-block-lg-screen {
	margin-left: -600px;
	padding-left: 50%;
}
.eft-text-right {
	padding: 10% 0 10% 0;
	max-width: 420px;
}
.eft-text-left {
	margin-right: 13%;
	float: right;
	padding: 10% 0 0 0;
	max-width: 420px;
}

.eft-floating-cont {
	min-height: 662px;
	margin-bottom: 115px;
	padding-top: 44px;
	max-width: 585px;
}
.eft-special-text-placeholder {
	width: 310px;
	margin: 0 auto;
}

.eft-text-latestres {
	z-index: 2;
	position: absolute;
	margin-top:5%;
	max-width: 420px;
}

.eft-background-black {
	background-color: black;
}
.eft-small-sect {
	padding: 100px 0px 100px 0px;
	font-family: helvetica77BoldCondensed, Arial, sans-serif;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.eft-bg-white {
	background-color: white;
}
.eft-bg-brown {
	background-color: #a19789;
}

footer {
	background-color: black;
	padding: 78px 0px 78px 0px;
}

footer .eft-foot-main a {
	color: white;
}

footer .eft-foot-second a,
footer .eft-foot-second span{
	color: #a19789;
}
/*END NOT SPECIFIC FOR HOME PAGE*/

/*ESPECIFIC FOR HOMEPAGE*/
.claim {
	color: #fefefe;
	z-index: 2;
	position: absolute;
	/*margin: 12% 0px 0px 100px;*/
	margin-top: 10%;
	max-width: 285px;
}
.eft-compare-sect {
	background-color: #fbf4eb;
	padding: 0px 0px 115px 0px;
}

.compare-header{
	margin: 110px 0px 80px 0px;
}

.eft-testtype-cont-white {
	float:right;
	background-color:#ffffff;
	height:662px;
	width:480px;
}
.eft-testtype-cont-brown {
	background-color:#a19789;
	height:662px;
	width:480px;
}
.eft-square-img {
	width: 100%;
}
.eft-clocks-img {
	margin: 25px 0px 11px;
}

.nomargin {
	padding: 0 !important;
}
/* Mini fix between ipad and desktop*/
@media only screen and (min-width : 1024px) and (max-width : 1700px) {
	.eft-main-hero-img {
		height: 650px;
	}
	.claim {
		margin-left: 18%;
		margin-top: 161px;
	}
	.eft-main-hero-img {
		width: inherit;
	}
}


/*ipad from portrait to landscape real*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.logo-white {
		width: 175px;
		height: 65px;
		top: 40px;
		left: 40px;
	}
	.center-block-lg-screen {
		margin-left: 0;
		padding-left: 0;
	}
	h1.eft-main-header {
		font-size: 2.857em;
		font-family: helvetica77BoldCondensed, Arial, sans-serif;
	}
	h2.eft-secondary-header {
		font-size: 1.786em;
	}
	.eft-main-text {
		font-size: 1.286em;
	}
	.eft-special-text-placeholder {
		width: 230px;
		margin: 0 auto;
	}
	.eft-text-latestres {
		max-width: 320px;
	}
	.eft-small-sect {
		padding: 50px 0px 50px 0px;
	}
	.claim {
		margin-top: 166px;
		max-width: 230px;
		margin-left: 119px;
	}
	.eft-gui-button-white {
		padding: 15px 57px 15px 57px;
	}
	.eft-gui-button-white {
		padding: 15px 57px 15px 57px;
	}
	.eft-square-img {
		height: 350px;
		width: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	h3.eft-sec-header {
		font-size: 1.286em;
	}
	.eft-text-left, .eft-text-right {
		padding: 50px 0 50px 0;
	}

	.eft-main-hero-img {
		margin-left: -233px !important;
		height:	610px;
		width: initial;
	}
	.eft-second-hero-img {
		margin-left: -180px !important;
		height:	350px;
		width: initial;
	}
	.eft-testtype-cont-white {
		float:none;
	}
	.eft-floating-cont {
		min-height: 575px;
		margin-bottom: 80px;
		padding-top: 44px;
	}
	.eft-subtitle {
		font-size: 1.071em;
	}
}
